## `Beer Review Analysis`
---

**Data Source:** [Kaggle](https://www.kaggle.com/rdoume/beerreviews)

This dataset contains around 1.5 Millions reviews of Beer from BeerAdvocates.

In [2]:
# Dependencies and packages
%reload_ext lab_black

import os
import pandas as pd
import numpy as np
import math as math
import datetime as dt
import plotly

In [15]:
csv_path = os.path.join("../data/beer_reviews.csv")
df = pd.read_csv(csv_path)

df.head(5)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [16]:
df.dtypes

brewery_id              int64
brewery_name           object
review_time             int64
review_overall        float64
review_aroma          float64
review_appearance     float64
review_profilename     object
beer_style             object
review_palate         float64
review_taste          float64
beer_name              object
beer_abv              float64
beer_beerid             int64
dtype: object

In [17]:
df.shape

(1586614, 13)

## Find the number of unique breweries

In [18]:
df["brewery_name"].value_counts()

Boston Beer Company (Samuel Adams)       39444
Dogfish Head Brewery                     33839
Stone Brewing Co.                        33066
Sierra Nevada Brewing Co.                28751
Bell's Brewery, Inc.                     25191
                                         ...
Brauerei Wittmann                            1
Riverhead Brewery Limited                    1
Jyohana Beer                                 1
Paulaner Brauhaus (Pulana Pijiu Fang)        1
Cervecer√≠a El Buho                           1
Name: brewery_name, Length: 5742, dtype: int64

In [19]:
# Drop all rows that have NaN
df = df.dropna(how="any")

In [37]:
df.shape

(1518478, 13)

Drop reviews with ratings less than 4: Because we won't recommend these beers to anyone. 
Although we might need these for some visualizations to show analytical insights - So save this in another DF

In [39]:
df2 = df.copy()

In [40]:
df2.drop(df2[df2["review_overall"] < 4].index, inplace=True)

In [43]:
df2.shape

(963090, 13)

In [44]:
df2.to_csv(os.path.join("../data/beer_reviews_ratings4.csv"))

### Find Unique Beer types

In [23]:
df["beer_style"].value_counts()

American IPA                        113144
American Double / Imperial IPA       85105
American Pale Ale (APA)              58072
Russian Imperial Stout               53424
American Double / Imperial Stout     50137
                                     ...
English Pale Mild Ale                  648
Faro                                   608
Roggenbier                             395
Happoshu                               237
Kvass                                  229
Name: beer_style, Length: 104, dtype: int64