In [34]:
# Install dependencies
import pandas as pd
import os
import pymongo
from pymongo import MongoClient
import pprint as pprint
import json

In [4]:
def create_df (file_name):
    path = os.path.join("resources", file_name)
    df = pd.read_csv(path)
    return df

In [36]:
# Connect to Mongodb
CONN = "mongodb://localhost:27017"
client = pymongo.MongoClient(CONN)
db = client.beer_db

In [6]:
beer_reviews_df = create_df('beer_reviews.csv')
beers_df = create_df('beers.csv')
breweries_df = create_df('breweries.csv')

In [11]:
beer_reviews_df.head(1)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986

In [14]:
beer_reviews_df.shape

(1586614, 13)

In [12]:
beers_df.head(1)

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.05,NaN,1436,Pub Beer,American Pale Lager,408,12.0

In [15]:
beers_df.shape

(2410, 8)

In [13]:
breweries_df.head(1)

   Unnamed: 0                name         city state
0           0  NorthGate Brewing   Minneapolis    MN

In [16]:
breweries_df.shape

(558, 4)

In [35]:
# Create json for data mongo_dict = json.loads(df.T.to_json())

beer_reviews_dict = json.loads(beer_reviews_df.to_json())
beers_dict = json.loads(beers_df.to_json())
breweries_dict = json.loads(breweries_df.to_json())

In [39]:
# Load to mongo # mongo.db.collection_name.save(mongo_dict)
# db.beer_reviews.replace_one({},beer_reviews_dict, upsert=True)